
.navbar-default{
    background-image: none;
    background-color: #235cad;
    height: 60px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #cccccc;
}
.navbar-brand>img{
    height: 300%;
    margin-top: -10px;
}
.banner{
    margin-top: 70px;
    margin-bottom: 30px;
}
.section1{
    margin-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}
.section1 p{
    padding-top: 20px;
}
.jumbotron{
    margin-top: 70px;
}
.jumbotron h1{
    font-size: 48px;
}
.page-header{
    margin-top: 100px;
}
.page-header h2{
    color: #656262;
}
.section2 img{
    padding-bottom: 10px;
}
.section3{
    margin-top: 50px;
    margin-bottom: 60px;
}
.right{
    margin-top: 100px;
}
.right img{
    height: 64px;
}
.right h2{
    color: #868585;
    font-size: 25px;
}
footer{
    background-color: #235cad;
    color: white;
    margin-top: 50px;
}
footer h3{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
footer p{
    font-size: 14px;
}
footer img{
    height: 20px;
    padding-right: 10px;
}
footer .embed-responsive-16by9{
    height: 200px;
    padding-bottom: 20px;
}
.margin0{
    margin-right: 0 !important;
}
